button {
	width: 100;
	height: 30;
}

td {
	vertical-align: top;
}

form table {
	width: 100%;
}

a {
	cursor: pointer;
}

.block {
	position:absolute;
	top:0px;
	left:0px;
	width:100px;
	height:100px;
	cursor: wait;
	filter: alpha(opacity=10);
	-moz-opacity: 0.1;
	opacity: 0.1;
	background-color: white; /*IE auto use transparent*/
	/*background: url('js/themes/default/images/pagination_loading.gif') no-repeat;*/
	display: none;
}

.fieldsp {
	font-weight: bold;
	color: red;
	padding: 20px 10px 10px 0px;
	min-width: 150px;
}

.status-info {
	background-color: rgb(190, 247, 190) !important /*lightgreen*/
}
.status-warning {
	background-color: yellow !important
}
.status-error {
	background-color: rgb(253, 168, 172) !important /* red */
}
.status-disabled {
	background-color: #cccccc !important /* grey */
}

.x-grid {
	border: 1px solid grey;
	border-collapse: collapse /* cellspacing:0 */
}
.x-grid td, .x-grid th {
	border: 1px solid grey;
	padding: 3px;
}
.x-grid th {
	background-color: #eefeee
}

.hint {
	font-size: 0.6em;
	margin-top: 0;
	color: blue;
}

.perm-mgr2, .perm-mgr, .perm-emp, .perm-item, .perm-astore {
	display: none
}

/* customize menu */
#menu {
	background: #1d2127;
	box-shadow: -5px 0 0 #2f3139 inset;
}

#menu .my-menu-item {
	display: flex;
	height: 47px;
	padding-left: 25px;
	align-items: center;
	justify-content: space-between;
	color: #abb4be;
	font-size: 13px;
	text-decoration: none;
}

#menu .my-menu-item > span {
	height: 20px;
	display: flex;
	align-items: center;
}

#menu .my-menu-item > span > i {
	font-size: 18px;
	margin-right: 12px;
}

#menu .menu-item-head.expanded, #menu .my-menu-item:hover {
	background: #32373d;
}

#menu .menu-item-head > i {
	width: 60px;
	text-align: center;
	font-size: 1.5em;
	transition: 0.35s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: transform;
}

#menu .menu-item-head.expanded > i {
	transform: rotate(180deg);
}

#menu .menu-expandable {
	height: 0;
	overflow: hidden;
	transition: 0.35s cubic-bezier(0.35, 0, 0.25, 1);
	transition-property: height;
	background: #171717;
}

#menu .menu-expandable .my-menu-item {
	padding-left: 55px;
}

