/* overwrite weui */
.weui_cells {
	margin-top: 0;
}

.weui_btn_mini {
	min-width: 80px;
}

.weui_label {
	min-width: 4em;
	margin-right: 0.2em;
	width: 20%;
}
.weui_cell:before {
	right: 15px;
	width: auto;
}

/****** my css ******/

.mui-container.mui-ios {
	/* 禁止选择。在IOS上尝试。 */
	-webkit-user-select: none;
	/* 禁止系统菜单 */
	/*-webkit-touch-callout: none; */
	/*-webkit-overflow-scrolling: touch;*/
}

.right {
	text-align: right;
}
select.right {
	direction: rtl;
}

