<form my-obj="<?=$baseObj?>" title="<?=$title?>" style="width:500px;height:400px;">
<!-- wui-script="dlg<?=$obj?>.js" my-initfn="initDlg<?=$obj?>"  -->
	<table>
		<tr>
			<td>编号</td>
			<td><input name="id" disabled></td>
		</tr>
		<tr>
			<td>名称</td>
			<td><input name="name" class="easyui-validatebox" required></td>
		</tr>
<!-- examples:
		<tr>
			<td>客户</td>
			<td>
				<select name="customerId" class="my-combobox" data-options="ListOptions.Customer()"></select>
			</td>
		</tr>
		<tr>
			<td>订单状态</td>
			<td>
				<select name="status" class="my-combobox" data-options="jdEnumMap:OrderStatusMap"></select>
			</td>
		</tr>
-->
	</table>
</form>
