<div wui-script="page<?=$obj?>.js" title="<?=$title?>" my-initfn="initPage<?=$obj?>">
	<table id="tbl<?=$obj?>" style="width:auto;height:100%">
		<thead><tr>
			<th data-options="field:'id', sortable:true, sorter:intSort">编号</th>
			<th data-options="field:'name', sortable:true">名称</th>
<!-- examples:
			<th data-options="field:'customerCode', sortable:true, formatter:Formatter.customerId">客户代码</th>
			<th data-options="field:'status', sortable:true, jdEnumMap: OrderStatusMap, formatter: Formatter.enum(OrderStatusMap), styler:OrderColumns.statusStyler">状态</th>
-->
		</tr></thead>
	</table>
</div>
