<div wui-script="page<?=$obj?>.js" title="<?=$title?>" my-initfn="initPage<?=$obj?>">
	<table id="tbl<?=$obj?>" style="width:auto;height:auto">
		<thead><tr>
<?php
foreach ($meta as $k => $v) {
	$opts = [
		"field:'$k'",
		'sortable:true'
	];
	if (@$v["type"]) {
		if ($v["type"] == "i") {
			$opts[] = 'sorter:intSort';
		}
		else if ($v["type"] == "n") {
			$opts[] = 'sorter:numberSort';
		}
	}
	if (@$v["linkTo"]) {
		$linkTo = "#dlg" . $v["linkTo"];
		$opts[] = "formatter: Formatter.linkTo('$k', '$linkTo'/*, true*/)";
	}
	else if (@$v["enum"]) {
		$opts[] = "jdEnumMap: {$v['enum']}, formatter: Formatter.enum({$v['enum']})";
	}
	else if (@$v["isAtt"]) {
		$opts[] = "formatter: Formatter.pics";
	}
	$optStr = join(', ', $opts);
	print <<<EOL
			<th data-options="$optStr">{$v["name"]}</th>

EOL;
}
?>
		</tr></thead>
	</table>
</div>
<!-- examples:
			<th data-options="field:'customerCode', sortable:true, formatter:Formatter.customerId">客户代码</th>
			<th data-options="field:'status', sortable:true, jdEnumMap: OrderStatusMap, formatter: Formatter.enum(OrderStatusMap), styler:OrderColumns.statusStyler">状态</th>
-->
