/* This file contains styles used by all application */
/* 所有应用共享部分 */

/* overwrite weui */
.weui_cells {
	margin-top: 0;
}

.weui_cell {
	-webkit-align-items: initial;
	align-items: initial;
}

.weui_btn {
	cursor: pointer;
}

.weui_btn_mini {
	min-width: 80px;
}

.weui_label {
	min-width: 4em;
	margin-right: 0.2em;
	width: 20%;
}
.weui_cell:before {
	right: 15px;
	width: auto;
}

.weui_select {
	height: auto;
	-webkit-appearance: menulist;
}

/****** my css ******/
.mui-navbar > a {
	padding: 3px 0;
}

.mui-container.mui-ios {
	/* 禁止选择。在IOS上尝试。 */
	-webkit-user-select: none;
	/* 禁止系统菜单 */
	/*-webkit-touch-callout: none; */
	/*-webkit-overflow-scrolling: touch;*/
}

.right {
	text-align: right;
}
select.right {
	direction: rtl;
}

.icon {
	background-repeat: no-repeat;
	display: inline-block;
}

/* 适合 16x16 列表项或菜单项 */
.mui-menu .icon {
	margin: 2px 12px 0px -5px;
}

.weui_cell .icon {
	margin: 2px 12px 2px 5px;
}

.mui-navbar .icon {
	position: relative;
	left: -5px;
	top: 2px;
}

/* 适合 24x24 底部导航 */
#footer .icon {
	position: relative;
	left: -5px;
	top: 5px;
}

/* 标题栏左右侧两个图标，一般是返回和菜单。适合16x16 */
.hd > .icon {
	margin: 10px;
	position: absolute;
}
.hd > .icon:not(:first-of-type) {
	right: 0;
}
