# ngxin配置
# TODO: 部署时将 "^/jdcloud/" 换成所在目录的实际URL路径，如 "^/myapp/mobile/"
# 然后在 ngxin.conf中合适位置包含本文件，注意不要覆盖其它配置，可以在 "location /" 中include

#gzip on;
#gzip_types text/plain text/xml text/css text/javascript application/javascript application/x-javascript "text/html;charset=utf-8";

# 移动应用根目录下的html为应用入口，不允许cache
location ~ ^/jdcloud/m2/(\w+\.html)?$ {
	add_header Cache-Control "no-cache";
}

# page下为逻辑页，html/js不允许cache
location ~ ^/jdcloud/m2/page/ {
	add_header Cache-Control "no-cache";
	# 添加版本便于对比线上是否最新
	add_header X-Conf-Ver "1";

	location ~ \.html$ {
		types {
			"text/html;charset=utf-8" html;
		}
		if ($http_x_requested_with !~* XMLHttpRequest) {
			rewrite (\w+)\.html "../index.html?$args#$1?" redirect;
		}
	}
}


