<FilesMatch "(\.html|\.js)$">
#Header set Cache-Control "max-age=604800"
Header set Cache-Control "no-cache"
</FilesMatch>

<FilesMatch "(\.html)$">
Header set Content-Type "text/html;charset=utf-8"
</FilesMatch>

## 直接访问page/目录时，跳转H5应用入口。
# RewriteEngine on
# RewriteCond %{HTTP_X_REQUESTED_WITH} !XMLHttpRequest [NC]
# # TODO use real path
# RewriteBase /jdcloud-m/
# RewriteRule ^(\w+).html$ index.html?%{QUERY_STRING}#$1 [R,NE,L]

